header {
    padding: 0.5%;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: black;
}

#fiveDay {
    font-variant: small-caps;
    display: inline-block;
}

#fivedayCont {
    text-align-last: center;
}

#searchBtn {
    border-radius: 20%;
    background-color: blue;
    color: white;
}
  
.fas {
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.favorable {
    border-radius: 10px;
    padding: 5%;
    background-color: green;
    color: white;
}
  
.moderate {
    border-radius: 10px;
    padding: 5%;
    background-color: orange;
    color: white;
}
  
.severe {
    border-radius: 10px;
    padding: 5%;
    background-color: red;
    color: white;
} 

.footer {
    padding: 2%;
    background-color: black;
    position: relative;
    text-align: center;
}